.Logo {
    height: 12vmin;
    width: 18vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #b53c9dbb;
    color: var(--tan-1);
    font-size: 2.7vmin;
    border: .6vmin solid #eec54d;
    font-family: 'Patrick Hand', cursive;
  }